#historial {
    min-height: 100px;
    background-color: #1e7ecc;
    padding: 14px;
}
    #historial>h2 {
        color: white;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .item-registro {
        background-color: white;
    }
        .contenedor-registro {
            display: flex;
            flex-flow: row nowrap;
            max-width: 377px;
            min-height: 93px;
            margin: 0 auto;
            align-items: flex-start;
            padding: 10px;
            justify-content: center;
        }
            .contenedor-registro>img {
                width: 55px;
                margin-right: 11px;
            }
            .img-adicion {
                content: url("../IMGS/img-adicion-rellenado.svg");
            }
            .img-substraccion {
                content: url("../IMGS/img-substraccion-rellenado.svg");
            }
            .contenedor-titulo-precio {
                width: 175px;
            }
                .contenedor-titulo-precio>p:nth-child(1) {
                    font-size: 29px;
                    margin-bottom: 15px;
                    margin-top: 2px;
                }
                .contenedor-titulo-precio>p:nth-child(2) {
                    font-size: 19px;
                }
            .contenedor-btns-edit {
                display: flex;
                flex-direction: column;
                width: 39px;
                align-items: center;
                margin-left: 20px;
            }
                .contenedor-btns-edit img {
                    width: 36px;
                    display: block;
                }
                .btnEditar>img {
                    content: url("../IMGS/img-editar.svg");
                    margin-bottom: 10px;
                }
                .btnEliminar>img {
                    content: url("../IMGS/img-eliminar.svg");
                }